<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.academy.android.databindingworkshop">

    <application
            android:name=".BindingApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".examples.BasicActivity"/>
        <activity android:name=".examples.CustomBindingActivity"/>
        <activity android:name=".examples.IncludeActivity"/>
        <activity android:name=".examples.CollectionActivity"/>
        <activity android:name=".examples.ResourceActivity"/>
        <activity android:name=".examples.ObservableActivity"/>
        <activity android:name=".examples.ViewWithIDsActivity"/>
        <activity android:name=".examples.ViewStubActivity"/>
        <activity android:name=".examples.DynamicActivity"/>
        <activity android:name=".examples.AttributeSettersActivity"/>
    </application>

</manifest>
